/* Write your CSS here */
.transactions-list{
    display: flex;
    justify-content: space-between;
}
.desc{
    color:#d7dfe9;
    font-size:16px;
    font-family: "Roboto";
}
.delete-image{
    height:30px;
    width:30px;
}
.btn{
    border:0;
    background: none;
    cursor: pointer;
    outline: none;
}
